#content {
	width: 500px;
	height: 500px;
	margin: 20px auto;
}
h1 {
	color: #ccff33;
	font-family: sans-serif;
}
div > p {
	background-color: black;
	color: white;
}
ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
a {
	text-decoration: none;
	text-transform: capitalize;
	background-color: blue;
	color: white;
}
ul {
	list-style-type: none;
}
.hyperlink {
	display: inline-block;
	width: 120px;
	height: 20px;
}
#related {
	background-color: ff0000;
}